In [1]:
import tensorflow as tf

import matplotlib.pyplot as plt
import pandas as pd

from sklearn.neural_network import MLPClassifier
import mglearn

In [2]:
#Reading the dataset and checking what it contain (first 5 rows)
dataset_path = 'heart.csv'

dataset = pd.read_csv(dataset_path)
dataset.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [3]:
#...and its column names
column_names  = dataset.keys()
column_names

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [4]:
#here I split train and test sets, train is 80% and test is 20%
train_dataset = dataset.sample(frac = 0.8, random_state = 0)
test_dataset = dataset.drop(train_dataset.index)

In [5]:
#extracting the labels from the dataset (labels are 1 - healthy and 0 - unhealthy heart)
train_labels = train_dataset.pop('target')
test_labels = test_dataset.pop('target')

In [6]:
#checking out first 5 rows of train_labels
train_labels.head()

225    0
152    1
228    0
201    0
52     1
Name: target, dtype: int64

In [7]:
#taking look at main characteristics of dataset
train_dataset.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
count,242.000000,242.000000,242.000000,242.000000,242.000000,242.000000,242.000000,242.000000,242.000000,242.000000,242.000000,242.000000,242.000000
mean,54.128099,0.685950,0.962810,131.396694,247.181818,0.144628,0.528926,149.797521,0.330579,0.991322,1.413223,0.685950,2.322314
std,8.904992,0.465098,1.031989,17.352331,51.235037,0.352454,0.516522,22.935873,0.471396,1.162148,0.606595,0.985649,0.614012
min,34.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,212.000000,0.000000,0.000000,134.500000,0.000000,0.000000,1.000000,0.000000,2.000000
50%,54.500000,1.000000,1.000000,130.000000,241.500000,0.000000,1.000000,153.000000,0.000000,0.600000,1.000000,0.000000,2.000000
75%,60.750000,1.000000,2.000000,140.000000,274.000000,0.000000,1.000000,167.750000,1.000000,1.600000,2.000000,1.000000,3.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,195.000000,1.000000,6.200000,2.000000,4.000000,3.000000

In [8]:
#building and training the model 
mlp = MLPClassifier( random_state = 0, hidden_layer_sizes = [100, 100])
mlp.fit(train_dataset, train_labels)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=[100, 100], learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
       random_state=0, shuffle=True, solver='adam', tol=0.0001,
       validation_fraction=0.1, verbose=False, warm_start=False)

In [9]:
#accuracies obtained on training and test sets
print('Accuracy on training set: {:.2f}'.format(mlp.score(train_dataset, train_labels)))
print('Accuracy on test set: {:.2f}'.format(mlp.score(test_dataset, test_labels)))

Accuracy on training set: 0.81
Accuracy on test set: 0.77